config wpad 'hostapd'
	option log_enable	'1'
	option log_file_enable	'1'
	option log_file_path	'/var/log/hostapd.log'
	option log_timestamp	'0'
	option log_verbose	'0'
	option log_syslog_enable	'0'
	option log_key		'0'
	option log_rotate_enable "0"
	option log_rotate_cron	"*/2 * * * *"
	option log_rotate_size	"512k"
	option extra_options	''
	option respawn		'0'
	option limits		'core="unlimited"'

config wpad 'wpa_supplicant'
	option log_enable	'1'
	option log_file_enable	'1'
	option log_file_path	'/var/log/wpa_supplicant.log'
	option log_timestamp	'0'
	option log_verbose	'0'
	option log_syslog_enable	'0'
	option log_key		'0'
	option log_rotate_enable "0"
	option log_rotate_cron	"*/2 * * * *"
	option log_rotate_size	"512k"
	option extra_options	''
	option respawn		'0'
	option limits		'core="unlimited"'
